# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
yolovenv/
env/
venv/

# Ignore datasets (too large for Git)
data/images/
data/labels/

# Ignore YOLO training outputs
runs/

# Ignore model weights
*.pt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific files
.DS_Store
Thumbs.db
